{sub_dirs, ["rel"]}.
{deps, [
	{amqp_client, ".*",
	 {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.0.0"}}},
	{rabbit_common, ".*",
	 {git, "git://github.com/jbrisbin/rabbit_common.git",{tag, "rabbitmq-3.0.0"}}},
	{boss_db, ".*", 
	 {git, "git://github.com/evanmiller/boss_db.git", {tag, "HEAD"}}},
	{erlydtl, ".*", 
	 {git, "git://github.com/evanmiller/erlydtl.git", {tag, "a61e741d89"}}}
       ]}.
